@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --primary:0 0 0;
    --secondary: 0 0 0;
    --text-color: 0 40 89;
    --button-color: 3 90 197;
    --text-color-currencie: 100, 113, 132;
    --color-blocked:198 223 254;
    --color-details: 249 250 252;
    --color-separate: 192 204 218;
    --color-border-metmask: 229 233 242;
    --text-color-selection: 100 113 132;
  }
}
